.noPadding {
    padding: 0px !important;
    margin: 0px !important;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-nav {
  float: right !important;
}

.navbar{
  background: rgba(0, 0, 0, 0.0) !important;
}

.navbar {
  border-color: rgba(0, 0, 0, 0.0) !important;
}

.slide {
  background-color: rgb(255,0,255);
}
/*---------------main content---------------------*/
/*header with img and pressure info*/
body {
	font-family: open sans;
	color: #282828;
}

/*header with img and pressure info*/
.topimg {
	background-image: url("../images/ice.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
        margin-top: -50px;
}
.topheader {
	height: 40vw;
	color: #b6dcc2;
	color: #282828;
}
div.starter-template.topheader {
	padding: 0px;
}
/*small info boxes*/
.moreinfobox {
	 background-color: rgba(0, 0, 0, 0.0) !important;
	/*height: 16vw;*/
}

.moreinfoboxInner {
	background-color: #0d2a40;
	color: white;
	text-align: center;
	height: 16vw;
	opacity: 0.8;
	margin: 5px;
	margin-bottom: 0px;
}
.icon {
	color: #f24c58;
	padding: 20px;
	padding-top: 40px;
}
/*infobox that covers three rows when displayed on mobile device*/
/*.threerows {
	height: 150vw;
}*/
.iconimg {
	width: 30px;
	margin:20px;
	margin-top: 40px;
}

/*infobox that covers three rows when displayed on mobile device*/
/*.threerows {
	height: 150vw;
}*/
.iconimg {
	width: 40px;
}
/*---------------navigation---------------------*/

.navbar-header {
	padding: 0 20px 0 20px;
}

.navbar .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
  background: rgba(0, 0, 0, 0.0) !important;
  color: #F24C58;
}

#linknav:hover {
  color: #E23042;
  background-color: rgba(0, 0, 0, 0) !important;
}

#linknav {
  color: #282828;
}

.navbar-brand {
  background-color: #F24C58;
}

.navbar-brand {
  color: #FFF;
  padding: 30px;
  margin-top:-3px;
}

/*-------------------text---------------------*/
h1 {
	font-size: 14px;
	margin: 0px;
	padding: 40px 0 20px 0;
}
.topheader h1 {
	font-size: 44px;
	padding: 230px 0 50px 0;
}
.topheader p {
	padding-top: 30px;
}
h2 {
	font-size: 12px;
	margin: 0;
}
p {
	margin: 0;
}
/*Font used when displaying live numbers*/
.otherfont {
	font-family: oswald;
	font-size: 26px;
}

/*---------------slide out info---------------------*/
.slide {
	padding: 16vw;
}
.slideP i {
	float: left;
	padding-left: 0px;
}
.slideP img {
	float: left;
	margin-left: 0px;
	margin-bottom: 0px;
}
.statsimg {
	width: 50%;
	padding: 20px;
	padding-left: 0;
        clear:both;
}


.arrow:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-top: solid 20px #0d2a40;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}
